* {
  align-items: center;
}

body {
  margin: 0;
}

ul {}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.top-header {

  display: flex;
  justify-content: space-around;
  /* width: 80%; */
  margin: 0 auto;
}

.top-header__half {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
}

.lista_header1 {
  position: relative;
}

.lista_header1:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: aliceblue;
  position: absolute;
  right: -0.5rem;
  top: 0.1rem;
}

.main-header {}

.main-header_in {
  margin: 2rem 25% 2rem 25%;
  display: flex;
  justify-content: stretch;

}

.user img {
  width: 24px;
}



/* Slider 1 */
.slider1_container {
  position: relative;
}

.slider1_container img {

  max-width: 100%;
}

.slider1_input {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 10rem;
  right: 40%;
  left: 40%;
  color: white;
  font-weight: bolder;
}

.slider1_input h1 {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 60px;
}