* {
  align-items: center;
}

body {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.top-header {

  display: flex;
  justify-content: space-around;
  /* width: 80%; */
  margin: 0 auto;
}

.top-header__half {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
}

.lista_header1 {
  position: relative;
}

.lista_header1:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: aliceblue;
  position: absolute;
  right: -0.5rem;
  top: 0.1rem;
}

.main-header {}

.main-header_in {
  margin: 2rem 25% 2rem 25%;
  display: flex;
  justify-content: stretch;

}

.user img {
  width: 24px;
}



/* Slider 1 */
.slider1_container {
  position: relative;
}

.slider1_container img {

  width: 100%;
}

.slider1_input {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 42%;
  /* right: 40%; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  max-width: 35%;
}

.slider1_input h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 60px;
}

/* Ads */
.ads_container {
  background-color: whitesmoke;
}

.ads_flex {
  padding: 6rem 0 6rem 0;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  text-align: center;
}

.ads_svg {
  width: 6rem;
  align-self: center;
}

/* Categories */
.section_categories {
  margin: 5rem 0 5rem 0;
}

.scroller {
  display: flex;
  justify-content: baseline;
  overflow-x: auto;
  overflow-y: hidden;
  width: 60%;
  margin: 0 auto;
  gap: 2rem;
  scroll-behavior: smooth;
}

.scroller_img {
  padding: 2rem;
  border-width: 4px;
  border-style: dotted;
  border-color: lightgrey;
}

.scroller_ad {
  padding: 1rem 6rem;
  background-color: purple;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.scroller_ad button {
  background: yellowgreen;
  border: none;
}

/* Big Dishes */

