:root {
  --highlight: #143848;
  --button-green: #5bb000;
  --dark-green: #3a6b06;
  --blanco: #fff;
  --gris-suave: #d3d3d3;
}

@font-face {
  font-family: 'Coolvetica';

  src: url('./fonts/coolvetica/coolvetica\ rg.otf') format('truetype');

}



* {
  align-items: center;
}

body {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Coolvetica', sans-serif;

}

ul {}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button:not(.parallax_button, #laNoche, #elDia) {
  background-color: var(--button-green);
  color: var(--blanco);
  min-width: 200px;
  min-height: 50px;
  border: solid;
  border-style: groove;
  border-width: 2px;
  border-color: var(--dark-green);
  border-radius: 5px;
  font-weight: 00;
  font-size: 20px;
  transition: 0.2s;
}

button:not(.parallax_button, #laNoche, #elDia):hover {
  background-color: var(--dark-green);
}

p {
  font-weight: 0;
}

h5 {
  font-size: 25px;
}

/* Header */
#top-header {
  background-color: var(--highlight);
  color: var(--blanco);
}

.top-header {

  display: flex;
  justify-content: space-around;
  /* width: 80%; */
  margin: 0 auto;
}

.top-header__half {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 1rem;
}

.lista_header1 {
  position: relative;
}

.lista_header1:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 18px;
  background-color: aliceblue;
  position: absolute;
  right: -0.5rem;
  top: 0.3rem;
}

header {
  position: sticky;
  top: 0px;
  z-index: 20;
  background-color: var(--blanco);
}

.main-header {}

.main-header_in {
  padding: 2rem 20% 2rem 20%;
  display: flex;
  justify-content: space-between;

}

.main_third {
  width: 33%;
}

.user {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 0.4rem;
  transition: 0.5s;
}

.user:hover {
  color: var(--button-green);
}

.user img {
  width: 24px;
}

.a_hamburger {
  display: none;

  img {
    padding: 0.5rem;
    background-color: lightgrey;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
  }

  img:hover {
    background-color: gray;
  }
}

@media (max-width: 1024px) {
  .main-header_in {
    padding: 2rem 10% 2rem 10%;

    form {
      display: none;
    }

    div {
      display: none;
    }

    .a_hamburger {
      display: block;
    }
  }

  .main_third {
    width: 50%;
  }
}


/* Slider 1 */
.slider1_container {
  position: relative;
}

.slider1_container img {

  width: 1920px;
}

.slider1_input {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 42%;
  /* right: 40%; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blanco);
  font-weight: bolder;
  /* max-width: 35%; */



  h4 {
    font-size: large;
  }


}

.slider1_input h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 60px;
}

/* @media (max-width: 1168px) { */
/* .slider1_input {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 39px;
    }
  }
}
*/
@media (max-width: 730px) {
  .slider1_input {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 22px;
    }
  }
}

@media (max-width: 566px) {
  /* .slider1_input {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
    }

    h4 {
      font-size: 12px;
    }

    button {
      font-size: 10px;
      min-height: 0;
      min-width: 0;
    }
  } */

  .ads_flex {
    flex-direction: column;
  }
}


/* Ads */
.ads_container {
  background-color: var(--gris-suave);
}

.ads_flex {
  padding: 6rem 0 6rem 0;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  text-align: center;
}

.ads_svg {
  width: 6rem;
  align-self: center;
}

/* Categories */
.section_categories {
  margin: 5rem 0 5rem 0;

  h2 {
    margin-bottom: 2rem;
  }

}

.scroller {
  display: flex;
  justify-content: baseline;
  overflow-x: auto;
  overflow-y: hidden;
  /* width: 60%; */
  margin: 0 auto;
  margin: 3rem 20% 4rem 20%;
  gap: 2rem;
  scroll-behavior: smooth;

}

.scroller_img {
  padding: 2rem;
  border-width: 4px;
  border-style: dotted;
  border-color: var(--gris-suave);
}

.scroller_ad {
  padding: 1rem 6rem;
  background-color: #143848;
  /* width: fit-content; */
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--blanco);
}

@media (max-width: 674px) {
  .scroller_ad {
    padding: 20px 20px;

  }
}

/* .scroller_ad button {
  background: #5bb000;
  border: none;
  color: var(--blanco);
} */

/* Big Dishes */
.dishes_container {
  background-color: var(--gris-suave);
  padding: 4rem;

  #divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.flex_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card {
  margin: 2rem auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);

  /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
}

.card-title {
  height: 60px;
}

/* Overflow ads */

.overflow_container {
  margin: 8rem 0 8rem;
  gap: 30px;
}

@media (max-width: 1138px) {
  .transf_overflow {
    flex-direction: column;
  }
}


.overlay {
  overflow: hidden;
  position: relative;
}

.overlay img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(110%);
}


.overlay h4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  color: aliceblue;
}

.overlay button {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: aliceblue;
  background-color: green;
}

/* Parallax */
.parallax {

  background-image: url("img/slider1/breadcrumb.jpg");

  height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6rem 0 6rem 0;
  position: relative;
  color: var(--blanco);

  padding: 70px 33% 0 33%;
}

@media (max-width: 1174px) {
  .parallax {
    padding: 70px 20% 0 20%;
  }
}

@media (max-width: 640px) {
  .parallax {
    padding: 70px 10% 0 10%;
  }
}

.people {
  border-radius: 666px;
  width: 100px;
}

.parallax_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  .parallax_button {
    opacity: 50%;
    height: 10px;
    width: 10px;
    transition: 0.2s;
    background-color: var(--blanco);
    border: 0;
    min-height: 0;
    min-width: 0;
    border-radius: 0%;
  }

  .parallax_button:hover {
    opacity: 90%;
    /* background-color: greenyellow; */
  }
}

/* Footer */

footer {
  background-color: var(--gris-suave);
}

.footer_flex {
  padding: 4rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  text-align: justify;
  align-items: flex-start;

  a:hover {
    transition: 0.2s;
    color: var(--button-green);
  }
}

.social_icons {
  padding: 0.6rem;

  border-radius: 15px;
  border-width: 1px;

}

#ig {
  background-color: #3f729b;
}

#fb {
  background-color: #3b5998;
}

#tw {
  background-color: black;
}

#yt {
  background-color: #CD201F;
}

#li {
  background-color: #0077b5;
}

/* --- WhatsApp --- */
.whatsapp__container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.1s ease-in;
}

.whatsapp__icon {
  position: inherit;

}

.whatsapp__text {
  opacity: 0;

  position: absolute;
  /* display: none; */
  margin: 0 auto;
  text-decoration: none;
  color: var(--blanco);
  /* top: 50%; */
  padding: 15px;
  background-color: var(--button-green);
  border-radius: 20px;
  margin-top: 4px;
  margin-left: -145px;
  z-index: -200;

  border: solid;
  border-color: var(--dark-green);
  transition: opacity 0.2s;

}

.whatsapp__container:hover {
  transform: scale(90%);

  .whatsapp__text {
    display: inline;
    opacity: 1;

  }
}

/* Luz / noche */
.icono-luz {
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  transition: 0.5s;
}

.icono-luz-svg {
  width: 2rem;
  /* background-color: aliceblue; */
  /* border-radius: 666px; */
  color: yellow;
}

.icono-dark {
  width: 2rem;
  /* background-color: aliceblue; */
  /* border-radius: 666px; */
  color: gold;
  fill: gold;
}

.desterrado {
  right: -4rem;
}